<html>
    <head>
        <title>Chat & Talk</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/public/css/bootstrap.min.css">
        <link rel="stylesheet" href="/public/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="/public/stylesheets/chatpage.css">
    </head>

    <style>
        .error{
            color: red;
        }
        .whisper{
            color: gray;
            font-style: italic;
        }
    </style>
    <body>
    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-md-4 bg-white " id="users"></div>

            <!--=========================================================-->
            <!-- selected chat -->
            <div class="col-md-8 bg-white ">
                <div  class="chat-message">
                    <ul id="mesajlar" class="chat">

                    </ul>
                </div>
                <div class="chat-box bg-white button">
                    <div  class="input-group ">
                        <form id="send-message">
                            <input id="mesaj" class="form-control border no-shadow no-rounded" placeholder="Type your message here" >
            			    <input class="btn btn-success no-rounded" type="submit">
                        </form>
                    </div><!-- /input-group -->
                </div>
            </div>
        </div>
    </div>
        <script src="/public/js/socket.io.js"></script>
        <script type="text/javascript" src="/public/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/public/js/Chatpagee.js"></script>
    </body>
</html>