<html>
    <head>
        <title>Chat & Talk</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/public/stylesheets/main.css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>

    <style>
        .error{
            color: red;
        }
        .whisper{
            color: gray;
            font-style: italic;
        }
    </style>
    <body>
    <div id="app">
        <div class="col-md-2 userlist">
            <div class="panel-heading" id="bagliKullanici">

            </div>
            <ul id="users">

            </ul>
        </div>
        <div class="col-md-10">
            <div id="livechat-container">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Lets Chat
                    </div>
                    <div class="panel-body" id="panel">
                        <ul id="mesajlar" class="chat">

                        </ul>
                    </div>
                    <div class="panel-footer">
                        <form id="send-message">
                            <input type="text" class="form-control input-group-lg" placeholder="Mesaj覺n覺z覺 yaz覺n" id="mesaj">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <script src="/public/js/socket.io.js"></script>
        <script type="text/javascript" src="/public/js/jquery-3.2.1.min.js"></script>
        <script type="text/javascript" src="/public/js/Chatpagee.js"></script>
    </body>
</html>