

<!DOCTYPE html><html class=''>
<head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/public/stylesheets/chat.css" type="text/css">
    <link rel="stylesheet" href="/public/stylesheets/main.css" type="text/css">
</head>
<body>

<div id="frame">
    <div id="sidepanel">
        <div id="profile">
            <div class="wrap">
                <p>Mike Ross</p>
            </div>
        </div>
        <!--<div id="search">-->
            <!--<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>-->
            <!--<input type="text" placeholder="Search contacts..." />-->
        <!--</div>-->
        <div class="userlist" >
            <div class="panel-heading" id="bagliKullanici">

            </div>
            <ul class="panel-body user" id="users">

            </ul>
            <div class="panel-footer" style="background-color: #2c3e50">
                <div>
                    <input class="odaText" type="text" id="grp-oda" placeholder="Oda ismi girin (Sohbet)" style="width: 100%"><br>
                    <button id="grp-odaGir" style="width: 50%" onclick="grpOdaGiris()">Giriş</button>
                    <button id="grp-odaCik" style="width: 50%; display: none" class="sag" onclick="grpOdaCikis()">Çıkış</button>
                </div></br>
                <div>

                    <input class="odaText" type="text" id="kisi" placeholder="Kişi ismi girin" style="width: 100%"><br>
                    <input class="odaText" type="text" id="oda" placeholder="Oda ismi girin (Video)" style="width: 100%">
                </div>


            </div>
        </div>
        <div id="bottom-bar">
            <a  id="odaGir" style="width: 50%" target="_blank" href="javascript:
                        var odaID = $('#oda').val();
                        var str = 'http://localhost:3000/goruntu!' + odaID;
                        open(str)
                        "><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Bire Bir Görüşme</span></a>
            <a  id="odaConfGir" style="width: 50%" target="_blank" href="javascript:
                        var odaID = $('#oda').val();
                        var str = 'http://localhost:3000/conference!' + odaID;
                        open(str)
                        "><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Video Konferans</span></a>
        </div>
    </div>
    <div style="background-color: white" class="content">

        <div class="messages">
            <div id="livechat-container">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Lets Chat
                    </div>
                    <div class="panel-body" id="panel">
                        <ul id="mesajlar" class="chat">

                        </ul>

                    </div>

                    <div class="message-input">

                            <form id="send-message">
                                <input type="text" style="float: left; width: 95%" class="form-control input-group-lg" placeholder="Mesajınızı yazın" id="mesaj">
                                    <button class="submit" style="float: right;" id="ozelMsgGonder" ><img src="/public/images/icon.png"></button>
                            </form>


                    </div>

                </div>
            </div>

            <div id="grp-chat" hidden>
                <div class="panel panel-primary">
                    <div class="panel-heading" id="sayi">
                        Group
                    </div>
                    <div class="panel-body mesaj" id="grp-panel">
                        <ul id="grp-mesajlar" class="chat">

                        </ul>
                    </div>
                    <div class="message-input">

                            <form id="grp-send-message">
                                <input type="text" style="float: left" class="form-control input-group-lg" placeholder="Mesajınızı yazın" id="grp-mesaj">

                            </form>

                    </div>
                </div>
            </div>

            <div id="video" hidden>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        Lets Talk
                    </div>
                    <div class="panel-body video">


                    </div>
                    <div class="panel-footer" id="bilgi">

                    </div>
                </div>
            </div>
        </div>

        <!--<div class="panel-footer">-->
            <!--<form id="send-message">-->
                <!--<input type="text" class="form-control input-group-lg" placeholder="Mesajınızı yazın" id="mesaj">-->
                <!--<input type="submit" value="Mesaj Gönder" id="ozelMsgGonder" style="display: none;">-->
            <!--</form>-->
        <!--</div>-->

        <!--<div class="message-input">-->
            <!--<div class="wrap">-->


                <!--<form id="send-message">-->
                    <!--<input type="text" class="form-control input-group-lg" placeholder="Mesajınızı yazın" id="mesaj">-->
                    <!--<button class="submit" id="ozelMsgGonder" ><i class="fa fa-paper-plane" aria-hidden="true"></i></button>-->
                <!--</form>-->


            <!--</div>-->
        <!--</div>-->

    </div>
</div>
<script>


    function odaGiris() {
        document.getElementById("livechat-container").hidden =true;
        document.getElementById("video").hidden =false;
        document.getElementById("grp-chat").hidden =true;
    }
    function odaCikis() {
        document.getElementById("livechat-container").hidden =false;
        document.getElementById("video").hidden =true;
        document.getElementById("grp-chat").hidden =true;
    }
    function grpOdaGiris() {
        document.getElementById("livechat-container").hidden =true;
        document.getElementById("video").hidden =true;
        document.getElementById("grp-chat").hidden =false;
    }
    function grpOdaCikis() {
        document.getElementById("livechat-container").hidden =false;
        document.getElementById("video").hidden =true;
        document.getElementById("grp-chat").hidden =true;
    }

</script>

<script src="/public/js/socket.io.js"></script>
<script type="text/javascript" src="/public/js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/public/js/Chatpagee.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src='//production-assets.codepen.io/assets/editor/live/console_runner-079c09a0e3b9ff743e39ee2d5637b9216b3545af0de366d4b9aad9dc87e26bfd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/events_runner-73716630c22bbc8cff4bd0f07b135f00a0bdc5d14629260c3ec49e5606f98fdd.js'></script><script src='//production-assets.codepen.io/assets/editor/live/css_live_reload_init-2c0dc5167d60a5af3ee189d570b1835129687ea2a61bee3513dee3a50c115a77.js'></script><meta charset='UTF-8'><meta name="robots" content="noindex"><link rel="shortcut icon" type="image/x-icon" href="//production-assets.codepen.io/assets/favicon/favicon-8ea04875e70c4b0bb41da869e81236e54394d63638a1ef12fa558a4a835f1164.ico" /><link rel="mask-icon" type="" href="//production-assets.codepen.io/assets/favicon/logo-pin-f2d2b6d2c61838f7e76325261b7195c27224080bc099486ddd6dccb469b8e8e6.svg" color="#111" /><link rel="canonical" href="https://codepen.io/emilcarlsson/pen/ZOQZaV?limit=all&page=74&q=contact+" />



<!--<script src="https://use.typekit.net/hoy3lrg.js"></script>-->
<script>try{Typekit.load({ async: true });}catch(e){}</script>
</body>
</html>